openai==0.28.1
langchain
langchain_experimental
pinecone-client
python-dotenv
tiktoken
tomli
astrapy
spacy==3.3.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
